@model EFSemMigrations.ViewModels.UsuarioViewModel

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">       
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataNascimento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sexo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Sexo" class="form-control">
                    <option value="0">Selecione...</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outros</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Altura" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Ativo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Ativo" class="form-control">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Concluir" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}